---
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
    

const url = `https://mnrbumhbdeqyiuvlivuo.supabase.co/rest/v1/events`;

const options = {
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1ucmJ1bWhiZGVxeWl1dmxpdnVvIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3MDE0MDgsImV4cCI6MTk5NDI3NzQwOH0.-G8xa9L5ZoWsA63QnJjFw-CUp8sfkdMxziBbhoWKnq8",
    },
}

const response = await fetch(url, options);
const data = await response.json(); 

return data.map((event) => ({
    params: {slug: event.slug},
    props: {event},
}));
}

const {event} = Astro.props;
// Her indsættes funktion der henter data
---

<Layout title={event.slug}>

        <main>
            <h2 class="center">{event.artist}</h2>
            <h1 class="center">{event.name}</h1>
            <div id="grid1-2">
            <div id="container_sv">      
        <h3>Scene</h3>
        <p class="scene">{event.scene}</p>
        <h3>Date</h3>
        <p class="date">{event.date}</p>
        <h3>Tidspunkt på dagen</h3>
        <p>{event.time}</p>
            </div>
            <p class="desc">{event.description}</p>
            
        <img src="../icons/svbubble.png" alt="background"></div>
        <!-- <img class="swgren" src="../img/gren.png" alt="swgren"> -->
        <h2 class="center">SEE MORE</h2>
        <div id="grid1-1-1">
            <section>  <a href="#"><img src="https://source.unsplash.com/random/400x200?sig=1" alt=""><p>Tea drinking</p></a></section>
            <section>  <a href="#"><img src="https://source.unsplash.com/random/400x200?sig=1" alt=""><p>Tea drinking</p></a></section>
            <section>  <a href="#"><img src="https://source.unsplash.com/random/400x200?sig=1" alt=""><p>Tea drinking</p></a></section>
        </div>
        </main>
        </Layout>
        <style>
             main {
                margin-left: 5%;
                margin-right: 5%;
            }
            #grid1-2 img {
                display: none;
            }
            @media (min-width: 768px) {
             #grid1-2 {
                display: grid;
                grid-template-columns: 1fr 2fr;
            }
        #grid1-2 img {
            display: block;
            grid-column: 1;
            grid-row: 1 /span 2;  
            width: 300px;
            }
        
           #container_sv {
                z-index: 3;
                grid-column: 1;
                grid-row: 1 /span 2;
                margin-left: 15%;
                margin-top: 25%;
            } 
                .desc {
                margin-right: 7%;
                line-height: 1.8;
            }
        }
            .center {
                text-align: center;
                padding: 1%;
            }
            #grid1-1-1 {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                text-align: center;
            }
            #container_sv {
                line-height: 2.5;
            }
       
        </style>
